* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #478eda;
}

#box {
  background-color: #478eda;
  justify-content: center;
  display: block;
  align-items: center;
  margin: 10% 25% 0% 25%;
}

#title {
  text-align: center;
  padding-top: 25%;
  padding-bottom: 6%;
  font-size: 52px;
  font-family: "Press Start 2P", cursive;
  font-weight: 400;
  color: white;
  letter-spacing: -1px;
  text-transform: uppercase;
}

#div {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 20px;
  justify-content: space-evenly;
}
#score {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  position: relative;
  top: -5px;
  width: 100%;
  display: block;
  font-size: 20px;
  padding-bottom: 12%;
  color: rgb(255, 255, 255);
}

#home {
  color: #ffffff;
  font-family: "Press Start 2P", cursive;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
}

#button:hover {
  font-size: 19px;
}
#home:hover {
  color: #181818;
}
#retry:hover {
  color: #181818;
}

#retry {
  color: #ffffff;
  font-family: "Press Start 2P", cursive;
  font-size: 25px;
  text-decoration: none;
  text-transform: uppercase;
}
