* {
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.37), rgba(0, 0, 0, 0.3)),
  url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}
#container {
  height: 86vh;
  margin: 0px;
  padding: 0px;
  width: 100vw;
}
#scoreDiv {
  float: right;
  color: white;

  margin-right: 2%;
  font-size: 26px;
  padding: 14px;
  font-family: "Press Start 2P", cursive;
}
#heartsDiv {
  float: left;
  margin-left: 3%;
  font-family: "Source Code Pro", monospace;
  font-size: 34px;
}
.heart {
  height: 60px;
  width: 60px;
  margin-left: 0px;
  display: initial;
}
#bothDivs {
  margin-top: 18px;
}
#character {
  display: flex;
  height: 100px;
  width: 85px;
  bottom: 0px;
  padding-top: 41%;
  padding-left: 35%;
}

#instructions {
  height: 100px;
  width: 600px;
  position: absolute;
  bottom: 0;
  left: 3%;
}
#words {
  font-family: "Press Start 2P", cursive;
  font-size: 14px;
  line-height: 28px;
  display: initial;
  opacity: 0.6;
}
