* {
    margin: 0;
    padding: 0;
  }
  body {
    background-color: #0d3c79;
  }
  
  #box {
    background-color: #0d3c79;
    justify-content: center;
    display: block;
    align-items: center;
    /* border: 2px solid rgb(93, 153, 188); */
    margin: 10% 25% 0% 25%;
  }
  
  #title {
    text-align: center;
    padding-top: 25%;
    padding-bottom: 6%;
    font-size: 50px;
    font-family: "Press Start 2P", cursive;
    font-weight: 400;
    color: white;
    letter-spacing: -1px;
    text-transform: uppercase;
  }
  
  #div {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  #score {
    font-family: "Press Start 2P", cursive;
    text-align: center;
    position: relative;
    top: -5px;
    width: 100%;
    display: block;
    font-size: 17px;
    padding-bottom: 10%;
    color: rgb(255, 255, 255);
  }
  
  #home {
    display: flex;
    margin-bottom: 100px;
    color: #ffffff;
    font-family: "Press Start 2P", cursive;
    font-size: 22px;
    padding-top: 10px;
    justify-content: center;
    text-decoration: none;
    margin-left: 10%;
    text-transform: uppercase;
  }
  
  #button:hover {
    font-size: 17px;
  }
  #home:hover {
    color: #181818;
  }
  #retry:hover {
    color: #181818;
  }
  
  #retry {
    display: flex;
    margin-bottom: 100px;
    color: #ffffff;
    font-family: "Press Start 2P", cursive;
    font-size: 22px;
    padding-top: 10px;
    justify-content: center;
    margin-right: 4%;
    margin-left: 12%;
    text-decoration: none;
    text-transform: uppercase;
  }
  