* {
  margin: 0;
  padding: 0;
}
#mainContainer {
  background-color: #111a38;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2942&q=80);
  align-items: center;
  height: 100vh;
  justify-content: center;
}
#both {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#title {
  text-align: center;
  padding-top: 18%;
  padding-bottom: 7%;
  font-size: 58px;
  font-family: "Press Start 2P", cursive;
  letter-spacing: -2px;
  color: #ffffff;
  text-shadow: #bebebf 2px 3px;
  font-weight: 500;
}
#name {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-style: none;
  outline: none;
  height: 25px;
  font-size: 15px;
  width: 180px;
  color: white;
  margin-top: 20px;
  font-family: "Press Start 2P", cursive;
  background-color: transparent;
}
#name:focus + label > span,
#name:valid + label > span {
  -webkit-transition: top 0.2s ease, font-size 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease;
  position: relative;
  top: -28px;
  font-size: 11px;
  color: #ffffff;
  text-shadow: #bebebf 2px 3px;
}

.inputs {
  border-style: none;
  border-bottom: 1px solid #d9d9d9;
  outline: none;
  height: 25px;
  font-size: 18px;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}
#labelName {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;
  top: -25px;
  width: 100%;
  display: block;
  margin-bottom: 5%;
  color: white;
}

#button {
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  display: inline;
  font-family: "Press Start 2P", cursive;
  color: rgb(0, 0, 0);
  border-style: none;
  font-size: 19px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: #bebebf 2px 3px;
  margin-left: 6%;
}
#button:hover {
  color: #cad0d9;
}
#bestPlayers {
  text-align: center;
  display: inline;
  justify-content: center;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  color: #ffffff;
  text-shadow: #bebebf 2px 3px;
  font-size: 19px;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: -0.1px;
}
#bestPlayers:hover {
  color: #cad0d9;
}
#infoOne {
  font-family: "Press Start 2P", cursive;
  font-size: 16px;
  letter-spacing: -0.6px;
}
#div {
  display: flex;
}
#errorMessage {
  display: none;
}
@media only screen and (max-width: 850px) {
  #box {
    display: none;
  }
  #errorMessage {
    display: flex;
  }
  body {
    background-color: white;
    background-image: none;
  }
}
