* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #a6d1ff;
  background-image: url(https://media4.giphy.com/media/HQp9pMIlKV6zQiBlBi/giphy.gif?cid=6c09b9523qwubf9xua41pdubjewywu6j91m0e3ovb0n15kf0&rid=giphy.gif&ct=s);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#box {
  background-color: white;
  justify-content: center;
  display: block;
  align-items: center;
  border: 2px solid rgb(93, 153, 188);
  margin: 10% 25% 0% 25%;
  height: 60vh;
}

#title {
  text-align: center;
  padding-top: 18%;
  padding-bottom: 10%;
  font-size: 47px;
  font-family: "Press Start 2P", cursive;
  letter-spacing: -2px;
  color: #478eda;
  font-weight: 500;
}
#name {
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-style: none;
  border-bottom: 1px solid #d1d1d1;
  outline: none;
  height: 25px;
  font-size: 18px;
  width: 214px;
}
#name:focus + label > span,
#name:valid + label > span {
  -webkit-transition: top 0.2s ease, font-size 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease;
  position: relative;
  top: -28px;
  font-size: 11px;
  color: #478eda;
}

.inputs {
  border-style: none;
  border-bottom: 1px solid #d9d9d9;
  outline: none;
  height: 25px;
  font-size: 18px;
  padding-bottom: 5px;
  margin-top: 25px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
}
#labelName {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  position: relative;
  top: -25px;
  width: 100%;
  display: block;
  margin-bottom: 5%;
  color: rgb(0, 0, 0);
}

#button {
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  display: inline;
  font-family: "Press Start 2P", cursive;
  color: rgb(0, 0, 0);
  border-style: none;
  font-size: 19px;
  padding-left: 20%;
  padding-right: 13%;
  text-decoration: none;
  text-transform: uppercase;
  color: #478eda;
}
#button:hover {
  color: #000000;
}
#bestPlayers {
  text-align: center;
  display: inline;
  justify-content: center;
  font-family: "Press Start 2P", cursive;
  text-decoration: none;
  color: #478eda;
  font-size: 19px;
  padding-top: 20px;
  padding-bottom: 60px;
  text-transform: uppercase;
  letter-spacing: -0.1px;
}
#bestPlayers:hover {
  color: #000000;
}
#infoOne {
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  letter-spacing: -0.6px;
}
#div {
  display: flex;
}
@media only screen and (max-width: 850px) {
  body {
    display: none;
  }
}
